body {
  font-family: 'Roboto', sans-serif;
}

.texto-rojo { color:#d63031;}
.texto-negro { color: #2d3436; }
.texto-rojo-oscuro { color: #b71540; }

.header p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 3px solid #b2bec3;
  padding-bottom: 20px;
}

.burbuja {
  position: relative;
  background: #dfe6e9;
  border-radius: .3em;
}
 .burbuja:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-right-color: #dfe6e9;
  border-left: 0;
  border-top: 0;
  margin-top: -11.5px;
  margin-left: -23px;
}



/* media queries 480px*/
@media(max-width: 480px){
  .header p {
  font-size: 17px;
  }

  .burbuja {
  padding: 10px;
  max-width: 85%;
  }

   .acerca {
    padding: 0 10px 0 20px;
  }

  .educacion {
    padding: 0 10px 0 20px;
  }
   
}

  
}